header {
    border-style:dotted;
    border-width:1px;
    height:90px;
    width:auto;
    padding-top:20px;
    padding-left:40px;
}

.title {
    padding:15px;
}

main {
    border-style:dotted;
    border-width:1px;
    width:500px;
    float:right;

}

.wrapper {
    width:860px;
   /* margin:0 auto; */
    border-style:dotted;
    border-width:1px;
}
